<a href="https://colab.research.google.com/github/Tanmay100000/Python_learning/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable
### A variable is a name given to amemory location in a program.

In [ ]:
name = "Tanmay"
age=23
price = 100.5


print(name)
print(type(name))



print(age)
print(type(age))


print(price)
print(type(price))

Tanmay
<class 'str'>
6
23
<class 'int'>
100.5
<class 'float'>

---

**Rules for Identifiers**

1. Identifiers can be a combination of uppercase and lowercase letters, digits, or an underscore (_).
   So `myVariable`, `variable_1`, `variable_for_print` all are valid Python identifiers.
   
2. An identifier cannot start with a digit. So while `variable1` is valid, `1variable` is not valid.
   
3. We can't use special symbols like `!`, `#`, `@`, `%`, `$`, etc. in our identifier.
   
4. An identifier can be of any length.

---

# Python Data Types


* Integers

* String

* Float

* Boolean

* None

In [6]:
# Integer
age = 25

print(age)
print(type(age))
print(f"{age},\nType: {type(age)}")  # another way to write

25
<class 'int'>
25,
Type: <class 'int'>

In [9]:
# String
name = "Devops"
print(name)
print(type(name))
print(f"Name : {name},\nType: {type(name)}")

Devops
<class 'str'>
Name : Devops,
Type: <class 'str'>

In [8]:
# Float
height = 6.5

print(height)
print(type(height))
print(f"Height: {height},\nType: {type(height)}") # another way to write

6.5
<class 'float'>
Height: 6.5,
Type: <class 'float'>